/* Reset essencial */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estrutura base */
html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* Corpo da aplicação */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

